.container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.chat_box{
    position: relative;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    max-width: 100%;
    z-index: 100000000000000;
    background: #f4f4f4;
    box-sizing: border-box;
    border: 1px solid #e1e1e1;
    box-shadow: 1px 1px 10px 4px #f1f1f1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}
.chat_box_phone{
    height: 100%;
}

.title{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 14px;
    // line-height: 40px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    border-bottom: 1px solid #f1f1f1;
    background: #fff;
    z-index: 1;
}

.forum_name{
    img{
        width: 30px;
        height: 30px;
        margin-right: 10px;
        // background: #ddd;
        vertical-align: middle;
    }
}
.close{
    i{
        // margin-right: 10px;
        font-size: 20px;
    }
}
::-webkit-scrollbar{
    width: 2px;
}
::-webkit-scrollbar-track {
    border-radius: 0;
    padding: 1px 1px;
    // border: 1px solid #ddd;
    // background-color: #fff;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    padding: 0;
    width: 2px;
    height: 44px;
    // background-color: rgba(0, 0, 0, .2);
    background-color: $linkcolor;
  }
  
  ::-webkit-scrollbar {
    width: 2px;
    // height: 44px;
    background-color: transparent;
  }
.chat_con{
    padding: 60px 10px 50px;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    
}
.others{
    display: flex;
    margin-bottom: 8px;
}
.ava{
    flex: 0 0 30px;
    height: 30px;
    margin-right: 10px;
    img{    
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    
}
.contents{
    .nickname{
        font-size: 12px;
        color: #666;
        margin-bottom: 6px;
    }
    .msg{
        background: #fff;
        padding: 8px 10px;
        font-size: 14px;
        border-radius: 4px;
        float: left;
    }
}
.bottom_send{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #eee;
    z-index: 1;
    height: 50px;
    display: flex;
    padding: 8px 5px;
    box-sizing: border-box;
    input{
        padding-left: 10px;
        border-radius: 20px;
        flex: 1;
    }
    
}
.send{
    flex: 0 0 60px;
    border-radius: 30px;
    cursor: pointer;
    line-height: 34px;
    text-align: center;
    background: #13ce66;
    color: #fff;
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.userSelf{
    display: flex;
    margin-bottom: 8px;
    margin-left: 20px;
    .ads{
        flex: 1;
        .contents{
            float: right;
        }
    }
    .nickname{
        text-align: right;
    }
    .ava{
        margin-right: 0;
        margin-left: 10px;
    }
    .msg{
        float: right;
    }
}
.tips{
    position: absolute;
    width: 140px;
    left: 80px;
    line-height: 24px;
    font-size: 12px;
    color: #999;
    bottom: 60px;
    z-index: 1;
    text-align: center;
    background: #fff;
    border-radius: 20px;
    cursor: pointer;
}
.tietu{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    .tietu_con{
        background: #fff;
        width: 240px;
        border-radius: 6px;
        // overflow: hidden;
        position: relative;
        .tie_tu_img{
            text-align: center;
            padding: 4px;
            img{
                max-width: 100%;
                max-height: 350px;
                vertical-align: middle;
            }
        }
    }
    .flex{
        display: flex;
        justify-content: space-between;
        padding: 4px 10px;
        font-size: 13px;
        color: #999;
        line-height: 34px;
    }
}
.item_image{
    max-width: 180px;
    max-height: 180px;
    border-radius: 4px;
    // margin-top: 6px;
}
.cls{
    position: absolute;
    width: 40px;
    height: 40px;
    text-align: center;
    left: 100px;
    top: -50px;
    z-index: 1;
    background: #fff;
    line-height: 40px;
    border-radius: 50%;
    font-size: 24px;
}
.close{
    img{
        width: 18px;
        vertical-align: middle;
        margin-right: 10px;
        cursor: pointer;
    }
}

.time{
    padding-left: 10px;
    font-size: 12px;
    color: #999;
    padding-right: 10px;
    text-align: center;
    margin: 8px 0;
}
/deep/ .link{
    cursor: pointer;
    color: $linkcolor;
    &:hover{
        // color: #ff9300;
        text-decoration: underline;
    }
}